*{
    padding: 0;
    margin: 0;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
   /* Indice*/
 
   .indice{
    top: 0;
    width: 100%;
    height: 18vh;
    background-color: rgba(66, 66, 169,0);
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 10vh;
    justify-items: center;
    align-items: center;
    position: fixed;
    border-radius: 0px 0px 60px 60px;
    z-index: 20;
    color: white;
}
.in-carta{
    color: beige;
}

.in-logo{   
    height: 10vh;
}

.in-carrito{   
    height: 10vh;   
}


h1{
  text-align: center; 
  z-index: 19;
  top: 80px;  
  position: relative;
}


.car{
    height: 100vh;
    margin-top: -10vh;
    
}
.img-car{
    height: 100vh;
    width: 100vw;
} 
#a1{
    height: 105vh;
    width: 105vw;
}
 

  /* Indice*/
  .carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    
  }
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
  }
  .carousel-item {
    flex: 0 0 100%; /* Hace que los elementos ocupen todo el ancho */
    max-width: 100%;
  }
  /* Estilos para los botones de navegación */
  .carousel-prev,
  .carousel-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
  }
  .carousel-prev:hover,
  .carousel-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .carousel-prev {
    left: 0;
  }
  .carousel-next {
    right: 0;
  }
  .carousel-item{
    height: 100vh;
    width: 100vw;
  }
  .imganes-carrucel{
    height: 100vh;
    width: 100vw;
  }
  .car-promo {
    
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -0%);
    margin-top: 18vh;
  }
  .car-promo-nombre{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -0%);
    margin-top: 24vh;
    
  }
  .car-promo-descripcion{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -0%);
    margin-top: 86vh;
  }